database:
  type: 'sqlite'
  host: ''
  port: ''
  username: ''
  password: ''
  database: 'auth.db'
  synchronize: true
jwt:
  secret: 'secret_code'
  expiresIn: 3600
  ignoreExpiration: false

runtime:
  gameWorlds:
    - id: 'first'
      internalURL: 'http://[::1]:3000'
      publicURL: 'http://aaaa.game'
      authKey: 'secret_header_token'
    - id: 'second'
      internalURL: 'http://[::1]:3001'
      publicURL: 'http://bbb.game'